#flex-container {
  position: absolute;
  display: flex;
  flex-direction: column;
}


#flex-container div {
  font-size: 16px;
  justify-items: center;
  justify-content: center;
  min-height: 50px;
}

.error{
  color:red;
}