.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-grid {
  height: 80%;
  width: 100%;
  align-content: center;
}

ion-row {
  justify-content: center;
  align-content: center;
}


.error{
  color:red;
}

.trueResponse { background: green; } 

.falseResponse { background: red; }